.passed-test-card {
    background: #fff;
    padding: 0 24px;
    display: flex;
}
.passed-test-card__result {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #41A04B;
    width: 10%;
    padding: 20px 0;
    text-align: left;
    min-width: 100px;
}
.passed-test-card__content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 16px 0;
    border-bottom: 1px solid #E8E8E8;
    flex-wrap: wrap;
}
.passed-test-card__title {
    font-size: 16px;
    line-height: 24px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.passed-test-card__date {
    font-size: 16px;
    line-height: 24px;
    color: #B8B8B8;
}
.passed-test-card__link-wrapper {
    display: table;
    min-width: 225px;
    margin-top: auto;
    margin-bottom: auto;
}
.passed-test-card__link {
    text-decoration: none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #007AFF;
}
.passed-test-card__arrow {
    vertical-align: middle;
    margin-left: 6px;
}
@media only screen and (max-width: 450px) {
    .passed-test-card__link-wrapper {
        min-width: 130px;
        width: 130px;
    }
    .passed-test-card__link {
        text-align: left;
    }
}
