.dashboard {
    max-width: 1120px;
    margin: 0 auto;
}
.dashboard {

}
.dashboard__new-test-cards {
    margin-top: 64px;
}
.new-test-cards__block {
    display: flex;
    justify-content: space-between;
}
.new-test-cards__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 24px;
}
.new-test-cards__item {
    width: 32%;
}
.dashboard_passed-test-cards {
    margin: 55px 0;
}
.passed-test-cards__title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

@media only screen and (max-width: 1120px)  {
    .dashboard {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .new-test-cards__block {
        flex-wrap: wrap;
    }
    .new-test-cards__item {
        width: 49%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 550px) {
    .new-test-cards__item {
        width: 100%;
    }
}
